@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Looneta</h1>
    <p class="lead">Descubra, compartilhe e solucione problemas de sua região com milhares de usuários.</p>
    <p><a href="" class="btn btn-primary btn-lg">Saiba mais&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Descubra problemas...</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Compartilhe problemas...</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solucione problemas...</h2>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais&raquo;</a></p>
    </div>
</div>